body{
    background-color: white;
}
.container{
    width: 50%;
    height: 408px;
    margin-top: 20% solid black;
    margin-left: 10%;
    padding-top: 10%;
    padding-left: 30%;
    /*background-color: red;*/
    
}

input{
   width: 20%;
   height: 5vh;
   border-radius: 2vh;
   text-align: center;
}